body {
  background-repeat: inherit;
  background-size: 100vw 100vh;
  background-image: url("assets/images/green-background.jpg");
  background-repeat: no-repeat;
    background-size: cover;
}

.form-range:read-only, .form-range:disabled {
  pointer-events: none;
}


.navbar {
  padding: 20px 40px;
  border-radius: 20px;
  background: #001E1E !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: white !important;
  background: #007979;
  border: none !important;
  border-radius: 30px;
  background-image: linear-gradient(to right,
      #007979,
      #007979,
      #007979,
      #007979);
  box-shadow: none !important;
  color: rgb(1, 206, 164);
}

.fr-hdng-shdw {
  text-shadow: 0 20px 0 rgba(255, 255, 255, 0.75),
    0 40px 0 rgba(255, 255, 255, 0.55), 0 60px 0 rgba(255, 255, 255, 0.35);
  margin-bottom: 80px;
}

.btn-outline-primary {
  color: white;
  border: 2px solid #007979;
  border-radius: 30px;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  background-color: #007979 !important;
  box-shadow: none !important;
  border: 2px solid #007979 !important;
}

.fr-quint-shdw {
  color: #007979;
  text-shadow: 0 20px 0 rgba(1, 206, 164, 0.75),
    0 40px 0 rgba(1, 206, 164, 0.55), 0 60px 0 rgba(1, 206, 164, 0.35);
}

.card {
  border-radius: 20px;
  border: 2px solid #007979;
  background: #b7c7c6;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.inner-card-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 25px;
  grid-column-gap: 15px;
}

.inner-card-div>div:nth-child(1) {
  grid-column: 1/3;
}

.inner-card-div>div {
  background: #ffffff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.inner-card-div>div p {
  margin-bottom: 0 !important;
  font-weight: 500;
  font-size: 12px;
}

.card-body>h5,
.inner-card-div>div h5 {
  font-size: 13px;
  color: #0c6a62;
  font-weight: 700;
  margin-bottom: 0 !important;
}

.form-control {
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.151);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn-secondary {
  background-color: white;
  border: none;
  color: #0c6a62;
  font-size: 13px;
  font-weight: 700;
  border-radius: 12px;
  width: 45%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn-secondary:focus,
.btn-secondary:hover,
.btn-secondary:active {
  color: #ffffff !important;
  background-color: #0c6a62 !important;
}

.list-unstyled i {
  font-size: 24px;
  margin-right: 20px;
  color: #ffffff;
}

input[type='range'] {
  background-color: #9a905d;
}

input[type='range']::-webkit-slider-runnable-track {
  color: #13bba4;

}

input[type='range']::-webkit-slider-thumb {
  cursor: ew-resize;
  background: #434343;
}

.count-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  transform: scale(.9)
}

.count-box {
  background-color: white;
  border-radius: 7px;
  width: 70px;
  margin: 3px;
  padding: 5px 0;
}

.count-number {
  font-weight: bold;
  font-size: 30px;
  line-height: 97%
}

.count-text {
  font-size: 12px;
}

.count-and {
  font-size: 12px;
}

.token-wrapper {
  width: 100%
}

.count-buy-now {
  border-radius: 15px;
  background-image: var(--gradient);
  font-weight: normal;
  font-size: 16px;
  box-shadow: 0 7px 15px 5px var(--neon);
  padding: 4px 16px
}

.count-buy-now:hover {
  transform: scale(1.1);
  transition: all .2s ease 0s;
  box-shadow: none
}

.count-round {
  font-size: 24px
}

.count-discount {
  font-size: 24px
}

.count-counter-wrapper {
  padding-top: 30px
}

@media screen and (max-width: 992px) {
  .navbar {
    padding: 10px;
  }

  .w-sm-100 {
    width: 100% !important;
    margin-top: 15px;
  }

  .card {
    margin-top: 35px !important;
    padding: 0 !important;
  }

  .fr-hdng-shdw,
  .fr-quint-shdw {
    font-size: 23px !important;
  }
}

.highlightstext{
  color: black;
  border: 2px solid #007979;
  background: #e9eeed;
  border-radius: 30px;
  padding: 20px;
}